@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100;300&display=swap');
:root{
    background-color: #e9edc9;
}
body{
    display: grid;
    grid-template-columns: clamp(1%,375px,33%) 453px auto;
    grid-template-rows: 75px 453px auto;
    font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
}
#title{
    display: grid;
    justify-content: center;
    grid-column: 2/3;
    font-weight: 800;
    font-size: 43px;
    margin-top: 1px;
}
#playing{
    display: grid;
    grid-row: 2/3;
    grid-column: 1/2;
    align-content: center;
    justify-content: right;
    margin-right: 20px;
}
#playing p{
    display: grid;
    justify-content: right;
}
#board{
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    grid-template-columns: 151px 151px 151px;
    grid-template-rows: 151px 151px 151px;
    width: 453px;
    height: 453px;
    flex-wrap: wrap;
    background-color: #fefae0;
}

.cell{
    width: 150px;
    height: 150px;
    font-size: 150px;
    font-family: Arial, sans-serif;
    color: #b5c094;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d4a373;
}

#end-message{
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;  
    margin-left: 20px;
    margin-top: -45px;
    align-content: center;
}

#end-message button{
    font-family: 'Albert Sans', Arial, Helvetica, sans-serif;
    width: 70px;
}